<div class="ui inverted left fixed vertical menu">
    <div class="item">
        <img class="ui mini image" src="https://semantic-ui.com/images/logo.png">
    </div>
    <a class="item">Features</a>
    <a class="item">Testimonials</a>
    <a class="item">Transactions</a>
    <a class="item">Prescriptions</a>
    <a class="item">Discussion Forums</a>
    <a class="item">Settings</a>
    <hr>
    <div class="sidePanelButtons">
        <button class="fluid ui inverted red button"><i class="envelope outline large icon"></i>Contact Us</button>
    </div>
    <div class="sidePanelButtons">
        <button class="fluid ui inverted red button"><i class="shopping bag large icon"></i>Store</button>
    </div>
    <hr>
    <a class=""><i class="facebook inverted big icon"></i></a>
    <a class=""><i class="twitter inverted big icon"></i></a>
    <a class=""><i class="linkedin inverted big icon"></i></a>
    <a class=""><i class="instagram inverted big icon"></i></a>
    <a class=""><i class="youtube inverted big icon"></i></a>
</div>