<% include ./partials/LayoutHeader %>
<% include partials/Navbar %>

<div class="ui main text container">
    <div class="ui huge header">Discussions Forum</div>
    <div class="ui top  attached segment">
        <div class="ui divided items">
            <div class="item">
                <div class="image">
                    <img src="https://semantic-ui.com/images/logo.png" >
                </div>
                <div class="content">
                    <a class="header" href="">Dummy Title</a>
                    <div class="meta">
                        <span>Dummy date</span>
                    </div>
                    <div class="description">
                        <p>Dummy Desc</p>
                    </div>
                    <div class="extra">
                        <a class="ui floated basic violet button" href="">
                            Read More
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/LayoutFooter %>