<% include partials/LayoutHeader %>
<body>
    <% include partials/Navbar %>
    <div class="background">
        <div class="overlay">
            <img src="../img/homeBg.jpg">
        </div>
    </div>
    <div class="ui container">
        <div class="home">
            <div class="content-home">
                <h1 class="ui header">Company Name</h1>
                <p>Get expert doctor's advice on the go ...</p>
                <i class="chevron circle down huge icon"></i>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <h1 class="ui header">How it Works??</h1>
        <div class="ui grid">
            <div class="two wide column"></div>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="../img/cardImg1.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sign Up and Get a doctor's appointment.</div>
                        <div class="description">
                            Get access to our growing network of Doctors! Also get free
                            checkups from specialists.
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui card">
                        <div class="image">
                            <img src="../img/cardImg1.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Get your checkup done within minutes</div>
                            <div class="description">
                                Connect to our doctors through our messaging services or
                                on a video-call and get instant help to your health problem!
                            </div>
                        </div>
                    </div>
                </div>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="../img/cardImg1.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Pay your dues/bills hassle free and gain points!</div>
                        <div class="description">
                            Pay your bills without any problems. Also gain points for every checkup.
                            We pay for your checkups for every 1000 points.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-content">
            <i class="chevron circle right huge icon"></i>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="six wide column">
                <div class="image">
                    <img src="../img/nurse.jpg">
                </div>
            </div>
            <div class="eight wide column">
                <div class="content">
                    <h1 class="ui header">Need an Ambulance</h1>
                    <div class="description">
                        <p>Are You in need of an ambulance? Are things out of hand?
                            Need an expert advice as wel? Book an ambulance by simply
                            clicking the button below and fill this 2 step form.</p>
                    </div>
                    <div class="more-content">
                        <button class="negative circular big ui button">Panic!</button>
                    </div>
                </div>
            </div>
            <div class="one wide column"></div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <h1 class="ui header">Services</h1>
        <div class="ui grid">
            <div class="two wide column"></div>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="../img/cardImg1.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sign Up and Choose a Doctor</div>
                        <div class="description">
                            Get access to our growing network of Doctors! Also get free
                            checkups from specialist.
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="../img/cardImg1.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sign Up and Choose a Doctor</div>
                        <div class="description">
                            Get access to our growing network of Doctors! Also get free
                            checkups from specialist.
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui card">
                    <div class="image">
                        <img src="../img/cardImg1.jpg">
                    </div>
                    <div class="content">
                        <div class="header">Sign Up and Choose a Doctor</div>
                        <div class="description">
                            Get access to our growing network of Doctors! Also get free
                            checkups from specialist.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-content">
            <i class="chevron circle right huge icon"></i>
        </div>
    </div>
    <% include partials/LayoutFooter %>
</body>
</html>